<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>To-Do List</title>
	</head>
	<body>
		<h1>To-Do List</h1>
		<form action="/" method="POST">
			<input
				type="text"
				name="todoItem"
				id="todoItem"
				placeholder="Add a new To-Do Item"
			/>
			<button type="submit">Add</button>
		</form>
		<ul>
			<!-- Iterate over the array of to-do items -->
			<% todos.forEach((todo, index) => { %>
            <!-- Render each to-do item as a list item -->
			<li>
				<input type="checkbox" id="todo-<%= index %>" value="<%= todo %>" onclick="handleClick(event)" <% if(todo.completed){ %> checked <% } %>/>
				<label for="todo-<%= index %>"><%= todo %></label>
				<button type="button" id="delete-<%= index %>" onclick="handleDelete(event)">Delete</button>
			</li>
			<% }); %>
		</ul>

	</body>
    <script src="./script.js"></script>
</html>
